# Environment
.env
.env.*
!.env.example

# Virtual Environments
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Data & Datasets
*.csv
*.tsv
*.json
*.jsonl
data/
dataset/
datasets/

# Models & Weights
*.pt
*.pth
*.h5
*.hdf5
*.keras
*.onnx
*.pkl
*.joblib
models/
weights/
checkpoints/

# ML / AI / Logs
logs/
*.log
*.sqlite
runs/
tb_logs/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db!model/*.h5
!model/*.pkl
!siparta_sensor_dataset.csv
