# ==============================================================================
# SIPARTA - Python Dependencies (Edge AI & RPi Inference)
# ==============================================================================

# === 1. Core Edge AI & Machine Learning (RPi Optimized) ===
numpy
pandas
scikit-learn
# tflite-runtime       # Pengganti tensorflow penuh; sangat esensial untuk RAM 1GB RPi 3B+
# tensorflow-cpu         # (jika melatih/export model di PC Server)
tensorflow             # (Butuh koneksi alat deteksi SIPARTA)
pydot

# === 2. Computer Vision & Real-Time Object Detection ===
opencv-python-headless # Headless lebih ringan (tanpa library GUI desktop X11)
# torch              # (Komentar: Hanya install di PC/Server Backend untuk YOLOv8)
# torchvision        # (Komentar: Hanya install di PC/Server Backend untuk YOLOv8)
# ultralytics        # (Komentar: Hanya install di PC/Server Backend untuk YOLOv8)

# === 3. IoT Sensor & Hardware Control (I2C & GPIO), butuh koneksikan alat deteksi Raspberry Pi ===
RPi.GPIO                       # Kontrol pin aktuator (LED, Buzzer, Button)
smbus2                         # Komunikasi I2C murni
adafruit-blinka                # Abstraksi CircuitPython agar kompatibel dengan RPi
adafruit-circuitpython-ads1x15 # Library esensial pembaca ADC ADS1115 (16-bit)

# === 4. Backend Integration & Utilities ===
requests             # Pengiriman data (REST API & Multipart) ke FastAPI
python-dotenv        # Memuat environment variables (.env) untuk kredensial

# === 5. Notebook Support (Hanya berjalan di PC/Development) ===
jupyter
ipykernel
matplotlib
seaborn
